@charset "UTF-8";

@import url('http://fonts.cdnfonts.com/css/billabong');

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(249, 249, 250);
}

button {
    background-color: transparent;
    border-color: transparent;
}

.logo {
    font-size: 2.2rem;
    margin: 0;
    font-weight: bold;
    font-family: 'Billabong', sans-serif;
}

.b {
    border: 3px solid black;
}

.ic {
    font-size: 1.3rem;
}

.c {
    background-color: transparent;
    border-color: transparent;
}

.c:hover {
       background-color: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.c:focus {
       background-color: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.card-footer1 {
    padding: .5rem 1rem;
    background-color: rgba(255, 255, 255);
    border-top: 1px solid rgba(255, 255, 255);
}

.cc:hover {
    background-color: rgb(248, 239, 239);
}

.midd {
    margin: 0 auto;
    text-align: center;
}

.hc:hover {

    background-color: transparent;
    border-color: transparent;
}

.hc:focus {

    background-color: transparent;
    border-color: transparent;
}

.hc:hover>i {
    color: rgb(129, 31, 241);
}

.bc {
    font-size: 0.8rem;
    float: right;
    border-color: rgba(128, 128, 128, 0.137);
    margin-right: 1rem;
}

.bc:hover {
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
}